body {
    margin: 0;
}

h1, h2 {
    text-align: center;
    font-family: sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

table, th, td {
    font-family: sans-serif;
    border: none;
}

tr {
    height: 30px;
}

th, td {
    text-align: center;
    padding: 5px;
    width: 50%;
    max-width: 250px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #050580;
    color: white;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: #050580;
}

a.button, input.button {
    color: white;
}

input.button:disabled {
    background-color: darkgray;
}

span.button, div.button, input.button {
    background-color: #050580;
    border-radius: 5px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

input.button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    width: 100%;
}

div.logout, div.back {
    float: left;
}

div.results {
    float: right;
}

div.header {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.voteedit {
    width: 50px;
}
