<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <title>{{ name }}</title>
    </head>
    <body>
        <div class="header">
            <div class="button logout">
                <a class="button" href="/">Back</a>
            </div>
            <div class="button results">
                <a class="button" href="/results">Results</a>
            </div>
        </div>
        <br>
        <h1>{{ name }}</h1>
        <table>
            <tr>
                <th colspan="2">Links</th>
            </tr>
            {% for u in info.urls %}
            <tr>
                <td>
                    <a href="{{ u }}">{{ u }}</a>
                    <a class="remove" href="/remove_url?name={{ name }}&url={{ u }}">X</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if can_edit %}
        <table>
            <tr>
                <td><b>Add</b></td>
                <td>
                    <form action="/add_url" method="get">
                        <input type="hidden" name="name" value="{{ name }}">
                        <input type="text" name="url">
                    </form>
                </td>
        </table>
        {% endif %}
    </body>
</html>
