<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Poll</title>
        <script type="text/javascript">
            function updateSum() {
                var vote = document.getElementsByClassName('voteedit');
                var sum = 0;
                for (var i=0; i<vote.length; i++) {
                    if (parseInt(vote[i].value)) {
                        sum += parseInt(vote[i].value);
                    }
                }
                document.getElementById('num').textContent = sum;
                document.getElementById('submit').disabled = (sum > {{ max_votes }});
            }
        </script>
    </head>
    <body onload="updateSum()">
        <div class="header">
            <div class="button logout">
                <a class="button" href="/logout">Logout ({{ person }})</a>
            </div>
            <div class="button results">
                <a class="button" href="/results">Results</a>
            </div>
        </div>
        <br>
        <h1>Poll</h1>
        <h2>Number of Votes: <span id="num">0</span> / {{ max_votes }}</h2>
        <form action="/submit" method="get">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Votes</th>
                </tr>
                {% for n in names %}
                <tr>
                    <td><a href="/info?name={{ n.0 }}">{{ n.0 }}</td>
                    <td>
                        {% if can_vote %}
                        <input class="voteedit" onchange="updateSum()" name="{{ n.0 }}" type="number" min="0" value="{{ n.1 }}">
                        {% else %}
                        <input class="voteedit" onchange="updateSum()" name="{{ n.0 }}" type="number" min="0" value="{{ n.1 }}" readonly="1">
                        {% endif %}
                        {% if can_edit %}
                        <a class="remove" href="/remove?name={{ n.0 }}">X</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if can_vote %}
                <tr>
                    <td colspan="2">
                        <input class="button" type="submit" value="Submit" id="submit">
                    </td>
                </tr>
                {% endif %}
            </table>
        </form>
        {% if can_edit %}
        <table>
            <tr>
                <td><b>Add</b></td>
                <td>
                    <form action="/add" method="get">
                        <input type="text" name="name">
                    </form>
                </td>
        </table>
        {% endif %}
    </body>
</html>
