<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Results</title>
    </head>
    <body>
        <div class="header">
            <div class="button back">
                <a class="button" href="/">Back</a>
            </div>
        </div>
        <br>
        <h1>Results</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Votes</th>
            </tr>
            {% for v in votes %}
            <tr>
                <td>{{ v.0 }}</td>
                <td>{{ v.1 }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
